.cms .quickaddnew-field > .middleColumn {
	/* stop gaps between inline blocks */
	font-size: 0;
}
.cms .quickaddnew-field .chzn-container {
	max-width: 437px; /* 512px - 75px */
}
.cms .quickaddnew-button{
	position: relative;
	top: 4px;
	z-index: 0;
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
}

.quickaddnew-dialog{
	max-height: 600px;
	overflow: auto;
}